.a,b{
    font-weight: 100px;
    height: 100px;
    color:blueviolet;
}

.c{
    font-weight: 100px;
    height: 100px;
    color:blueviolet;

}

.d{
    font-weight: 200px;
    height: 150px;
    color:blueviolet;
}